<!DOCTYPE html>
<html lang="en">

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <script type ="application/x-javascript" src="{{url_for('static', filename='dist/bundle.js')}}"></script>
    <title>UKRAINFT</title>
</head>

<body>

    <header>
        <img src="{{url_for('static', filename='ukrainian_flag.svg')}}" alt="Ukrainian Flag">
        <h1 style="display: inline-block;">UKRAINFT</h1>
    </header>

    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <button class="connect-button">Connect</button>
    </nav>

    <main>
        <h2>Welcome to UKRAINFT</h2>
        <p>This is the home page content.</p>
    </main>

</body>

</html>
